In [4]:
import pandas as pd
from faker import Faker
import random

In [25]:
df = pd.read_csv("output7.csv")
df = df[df["language"] == "en"]
df

,cycle_state,type,text,key,parent_key,pack_name,language,nb_players
4540,False,1,"%s, say something you've NEVER done. Those who...",NaN,NaN,default,en,1
4541,False,1,"%s, give out $ penalties",NaN,NaN,default,en,1
4542,False,1,"%s, take a penalty",NaN,NaN,default,en,1
4543,False,1,"%s, say %s's birthday or take a penalty",NaN,NaN,default,en,2
4544,False,1,"%s, take off an item of clothing or take a pen...",NaN,NaN,default,en,1
...,...,...,...,...,...,...,...,...
53093,False,13,"Both teams, toast each other and take $ penalt...",NaN,NaN,war,en,0
53094,False,13,The team with the player who has the largest n...,NaN,NaN,war,en,0
53095,False,13,Team %t: Vote on which of your teammates is wa...,NaN,NaN,war,en,0
53096,False,13,Team %t: Pick two of your teammates to take a ...,NaN,NaN,war,en,0
61528,False,0,NaN,NaN,NaN,NaN,en,0

In [23]:
fake = Faker()
players = [fake.first_name() for _ in range(5)]
players

['Nancy', 'Ann', 'Stephanie', 'Veronica', 'Charlotte']

In [29]:
default = df[df["pack_name"] == "default"]
default

,cycle_state,type,text,key,parent_key,pack_name,language,nb_players
4540,False,1,"%s, say something you've NEVER done. Those who...",NaN,NaN,default,en,1
4541,False,1,"%s, give out $ penalties",NaN,NaN,default,en,1
4542,False,1,"%s, take a penalty",NaN,NaN,default,en,1
4543,False,1,"%s, say %s's birthday or take a penalty",NaN,NaN,default,en,2
4544,False,1,"%s, take off an item of clothing or take a pen...",NaN,NaN,default,en,1
...,...,...,...,...,...,...,...,...
7048,False,25,Take $ penalties if you’ve ever behaved like a...,NaN,NaN,default,en,0
7049,False,25,"%s and %s, if either one of you made your bed ...",NaN,NaN,default,en,2
7050,False,25,Take $ penalties if you’ve ever stopped seeing...,NaN,NaN,default,en,0
7051,False,25,Take $ penalties if you’ve ever bought cryptoc...,NaN,NaN,default,en,0
7052,False,25,If you’ve ever posted something on your Linked...,NaN,NaN,default,en,0

In [36]:
def generate_game(df, length=10):
    game = []
    while len(game) < length: 
        # get random db row
        random_row = df.sample(n=1, random_state=random.seed())
        
        # if its already in the game go again
        index = random_row.index[0]
        if index in game:
            continue
            
        random_row = random_row.to_dict(orient="records")[0]
        print(random_row["text"], random_row["nb_players"])
        game.append(random_row["text"])
            
generate_game(default, length=10)

Educational jobs. If you repeat, or can’t think of one, take a penalty. %s, you start 1
%s, you’ve been struck by Cupid’s arrow. Every time you address someone, you must add “I love you” 1
Take a penalty if your partner is often hornier than you 0
Encanto 3
Take a penalty if you didn't pay for anything tonight, cheapskate 0
%s, who do you think always wants to be right, %s or %s? They have to take $ penalties 3
Engineers or future engineers, take $ penalties 0
McDonald's or healthy food after a night partying? Everyone vote at once, losing group takes $ penalties 0
Take a penalty if you don't like your stepmother 0
Would you rather have to listen to the chorus of a Katy Perry song over and over for 24 hours, or be in a cage with a bear for 20 seconds? Everyone vote at once, losing group takes $ penalties 0

In [21]:
default.sample(n=1, random_state=random.seed()).text

6423    Everyone with the letter "e" in their first na...
Name: text, dtype: object

{'cycle_state': False,
 'type': 14,
 'text': 'Would you rather live in a world where Pokémon are real, or a world where magic exists? Everyone vote at once, losing group takes $ penalties',
 'key': nan,
 'parent_key': nan,
 'pack_name': 'default',
 'language': 'en',
 'nb_players': 0}